<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phoenix.p2pcamserver" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".spydroid.SpydroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/chat"
        android:label="@string/app_name" >
        <activity
            android:name=".spydroid.ui.SpydroidActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".spydroid.ui.OptionsActivity"
            android:label="@string/options_activity_title" >
        </activity>

        <service android:name=".spydroid.api.CustomHttpServer" />
        <service android:name=".spydroid.api.CustomRtspServer" />

        <activity
            android:name=".spydroid.ui.Playing"
            android:label="@string/title_activity_playing" >
        </activity>
    </application>

</manifest>
